@import "tailwindcss";

@theme inline {
  --color-background: #fefefe;
  --color-foreground: #1f2942;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-heading: "Geist", "Inter", sans-serif;
  --color-bg: #fefefe;
  --color-bg-dark: #0e0f12;
  --color-text: #1f2942;
  --color-text-muted: #383d4c;
  --color-text-dark-muted: #8892a4;
  --color-accent: #f97316;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-heading);
  -webkit-font-smoothing: antialiased;
}
